<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="referrer" content="no-referrer" />
  <meta name="google-site-verification" content="d9AYrxkYK5UHR01Tg1YU-rFek8B4Iv8QJ-2l0wKP9NE" />
  <link rel="shortcut icon" href="https://stevenmhy.tk/images/head.ico" >

  <%
    var title = page.title;
    if (is_archive()) {
      title = 'Archives';
      if (is_month())
        title += ': ' + page.year + '/' + page.month;
      else if (is_year())
        title += ': ' + page.year;
    }
    else if (is_category())
      title = 'Category: ' + page.category;
    else if (is_tag())
      title = 'Tag: ' + page.tag;
  %>
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
  <% if (page.keywords && config.keywords){ %>
  <meta name="keywords" content="<%- page.keywords %>, <%- config.keywords %>">
  <% } else if (page.keywords) { %>
  <meta name="keywords" content="<%- page.keywords %>">
  <% } else if (config.keywords) { %>
  <meta name="keywords" content="<%- config.keywords %>">
  <% } %>
  <% if (page.description && config.description){ %>
  <meta name="description" content="<%- page.description %>, <%- config.description %>">
  <% } else if (page.description) { %>
  <meta name="description" content="<%- page.description %>">
  <% } else if (config.description) { %>
  <meta name="description" content="<%- config.description %>">
  <% } %>

  <% if (config.feed && config.feed.path){ %>
  <%- feed_tag(config.feed.path, {title: config.title}) %>
  <% } %>

  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- meta -->
  <% if (config.import && config.import.meta){ %>
  <% (config.import.meta||[]).forEach(function(item){ %>
  <%- item %><% }) %>
  <% } %>

  <div class="loading"><div id="loader"></div></div>
  <!-- link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <% if (theme.nodewaves == true) { %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/node-waves@0.7.6/dist/waves.min.css">
  <% } %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.1/css/all.min.css">
  <% if (config.import && config.import.link){ %>
  <% (config.import.link||[]).forEach(function(item){ %>
  <%- item %><% }) %>
  <% } %>
  <link rel="stylesheet" href="/">

  <% if (config.favicon) { %>
  <link rel="shortcut icon" type='image/x-icon' href="<%- url_for(config.favicon) %>">
  <% } %>

  <% if (theme.info && theme.info.cdn && theme.info.cdn.css && theme.info.cdn.css.style) { %>
    <%- css(theme.info.cdn.css.style) %>
  <% } else { %>
    <%- css('style.css') %>
  <% } %>

  <script>
    function setLoadingBarProgress(num) {
      document.getElementById('loading-bar').style.width=num+"%";
    }
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/js/global-hot-data.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/pjax/pjax.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/nprogress@0.2.0/nprogress.min.js"></script>
  
  <script>
    fetch('https://v1.hitokoto.cn/?c=a')
      .then(function (res){
        return res.json();
      })
      .then(function (data) {
        var h_content = document.getElementById('hitokoto-content');
        var h_from = document.getElementById('hitokoto-from');
        h_content.innerText = data.hitokoto; 
        h_from.innerText = "——" + data.from; 
      })
      .catch(function (err) {
        console.error(err);
      })
  </script>

  	<!-- Global site tag (gtag.js) - Google Analytics -->
  	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150421519-2"></script>
  	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
	gtag('config', 'UA-150421519-2');
	</script>

  <% if (false) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%- config.google_analytics_key %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%- config.google_analytics_key %>');
    </script>
  <% } %>
  <% if (false) { %>
    <!-- ba -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?<%= config.baidu_analytics_key %>";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  <% } %>
  
</head>